@font-face {
    font-family: 'Mona Sans';
    src:
      url('./Mona-Sans.woff2') format('woff2 supports variations'),
      url('./Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
body {
    font-family: 'Mona Sans', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}
.input-section {
    flex: 1;
    padding: 20px;
}
.preview-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    gap: 20px;
    justify-content: center;
}
.qr-container {
    margin-bottom: 10px;
    display: none; /* hide by default */
}
.input-container {
    width: 100%;
    display: none; /* hide by default */
}
.badge-preview {
    width: 592px;
    height: 256px;
}
.badge-preview-buttons {
    text-align: center;
}
h1 {
    margin-top: 0;
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
    color: #666;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
#qrcode {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
}
#fullstring {
    width: 100%;
    box-sizing: border-box;
}
#badgeCanvas {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 0 auto;
    display: block;
}
